* {
  margin:0;
  padding:0;
  box-sizing: border-box;

}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
  

.btn{
  background-color: #FD6E0A;
  border: none;
  padding: 18px 35px ;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.section-heading{
  max-width: 827px;
  text-align: center;
  margin: 0 auto;
}

.section-heading h2 {
  font-size: 35px;
  margin-bottom: 30px;
  text-align: center;
}

.section-heading p {
  font-size: 18px;
  margin-bottom: 30px;
line-height: 30px;
   color:#757575
}


header{
  background-color: #FFF8F3;
  padding-top: 50px;
}
.logo h2{
     font-size: 45px;
     font-weight: 900;
 }
.color-orange{
  color:#FD6E0A
}


nav{
  width: 71%;
   max-width: 1140px; 
  margin: 0 auto;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
  

nav .menu{
  display: flex;
  list-style-type: none;
  gap: 51px;
  align-items: center;
}

nav .menu a{
  font-size: 20px;
  color:#474747;
  text-decoration: none;
}

#banner{
  /* border: 1px solid red; */
  display: flex;
  margin: 47px 38px 0 230px;
  justify-content: space-between;
  align-items: center;

}
 .btn {
  background-color: #FD6E0A;
  border: none;
  padding: 18px 35px ;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}


#about,
#skills,
#resume{
  padding-top: 130px
}

#about .about-container{
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  background-color: #FFF8F3;
  padding: 131px 157px;
}

#about .about-container .about-info{
  display: flex;
  justify-content: space-around;
}

.about-info .info-card p{
  font-size: 20px;
  line-height: 30px;
   color:#757575
}


.about-info .info-card h4{
  font-size: 20px;}

  #skills{
  padding: 130px 0;
  }

#skills .skills-container{
  width: 71%;
  max-width:1140px;
  margin: 0 auto;
  padding: 0 20px
}

#skills .skills-container .skills-box{
  display: flex;
  gap: 24px
}

.skills-box .skills-card{
   padding:30px;
   max-width: 267px;
   box-shadow: 0 6px 50px 0 #0000001e;
  }

  .skills-card img{
    max-width: 44px;
    margin-bottom: 30px;
  }

.skills-card h3{
  font-size: 20px;
  color: #181818;
  margin-bottom: 20px;
}

.skills-card p{
font-size: 20px;
  margin-bottom: 30px;
line-height: 28px;
   color:#757575
}


#resume{
  font-size: 20px;
}

 .education-item,.experience-item p{
  margin-bottom: 20px;
  font-size: 13px;
}


#resume .education p{
 width: 30px;
}



.education,
.experience{
 width: 50%;
}

.education h2,
.experience h2{
  color: #474747;
  font-size: 30px;
  margin-bottom: 30px;
}

.education-item h3,
.experience-item h3{
  font: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  color:#474747

} 

.education-item h5,
.experience-item h5{
  font: 20px;
  font-weight: 600;
  margin-bottom:20px;
  color: #474747;
  
}

.education p,
.experience p{
  font-size: 14px;
 margin-top: 8px;
   color:#757575
}

.button .cv{
  background-color: #FD6E0A;
  border: none;
  padding: 18px 35px ;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.hr{
  color:#D1D1D1;
  margin: 30px 0;
}

.resume-box{
 display: flex; 
  justify-content: space-between;
  padding: 0 130px;
  gap: 80px
}


#resume .resume-box{
   width:71%;
   max-width:1140px;
    margin: 113px auto 0;
    display: flex;
}

.education-item,
.experience-item{
  margin-right:47px;
  max-width: 511px;
}

.text-center{
  text-align: middle;
}
  #footer{
    background-color: #FFF8F3;
    margin-top: 130px;
    padding: 130PX 0;
   
  }

  .footer-box{
    width:71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 116px;
  }

.footer-box h2{
  max-width: 550px;
  color: #181818;
  font-size: 35px;
  font-weight: bold;
   margin-bottom: 20px;
}




  .footer-box .footer-text{
    font-size: 16px;
   color:#474747;
   line-height: 28px;
  
  }
  
  .footer-box .footer-icons{
   max-width: 100px;
   margin-right: 50px;

  }

 .footer-form .form input[type="text"]{
  width:461px;
 padding: 18px 21px;
 margin-bottom: 24px;
 }
